[Unit]
Description=Save iptables rules
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables-save > /etc/sysconfig/iptables

[Install]
WantedBy=shutdown.target reboot.target halt.target
